.aside {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
  border-right: 1px solid var(--color-border-default);
  background-color: var(--color-bg-surface);
  min-height: 100%;
  max-width: 30rem;
  width: 100%;

  .aside-options {
    display: flex;
    gap: 1rem;
    margin-block: 1rem;

    .btn {
      display: flex;
      background-color: var(--color-bg-hover);
      cursor: pointer;
      gap: 0.5rem;

      img {
        width: 1rem;
      }

      input {
        display: none;
      }
    }

    .btn.active {
      background-color: var(--color-primary);
      color: white;
    }
  }

  .input-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .input-group {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      input,
      textarea {
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--color-border-default);
        background-color: var(--color-bg-main);
        font-size: 1rem;
        width: 100%;
        font-family: inherit;
      }

      select {
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--color-border-default);
        background-color: var(--color-bg-main);
        font-size: 1rem;
        width: 100%;
        font-family: inherit;
      }

      button {
        font-size: 1rem;
      }
    }
  }

  .config-container {
    background-color: var(--color-bg-main);
    border: 1px solid var(--color-border-default);
    border-radius: 0.5rem;

    &.collapsed {
      .config-body {
        max-height: 0;
        opacity: 0;
        padding: 0 1rem;
      }

      .chevron {
        transform: rotate(180deg);
      }
    }

    .config-header {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;
      border-bottom: 1px solid var(--color-border-default);
      cursor: pointer;
      width: 100%;
      justify-content: space-between;
      
      .config-header-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
          width: 1.5rem;
        }

        h2 {
          font-size: 1.25rem;
          font-weight: bold;
        }
      }

      .chevron {
        transition: transform 0.3s ease;
      }
    }

    .config-body {
      padding: 1rem;
      color: var(--color-text-muted);
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .config-color-container {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;

        .config-color {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 0.5rem;

          .color-input-container {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: var(--color-bg-hover);

            input[type="color"] {
              width: 2rem;
              border: none;
            }

            input[type="text"] {
              border: none;
              background-color: transparent;
              color: var(--color-text-primary);
              width: 100%;
              outline: none;
              font-size: 1rem;
            }
          }
        }
      }

      .config-detail-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .config-detail {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;

          input {
            width: 100%;
          }
        }
      }
      .config-logo-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        input::file-selector-button {
          background-color: var(--color-primary);
          color: white;
          padding: 0.75rem 1.5rem;
          border: none;
          border-radius: 0.5rem;
          cursor: pointer;
          font-weight: bold;
          font-size: 1rem;
          transition: background-color 0.3s;
        }
      }
    }
  }
}

