.aside {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
  border-right: 1px solid var(--color-border-default);
  background-color: var(--color-bg-surface);
  height: 100%;
  max-width: 30rem;
  width: 100%;

  & .aside-options {
    display: flex;
    gap: 1rem;
    margin-block: 1rem;

    & .btn {
      display: flex;
      background-color: var(--color-bg-hover);
      cursor: pointer;
      gap: 0.5rem;

      & img {
        width: 1rem;
      }

      & input {
        display: none;
      }
    }
  }

  & .input-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & input {
      padding: 1rem;
      border-radius: 0.5rem;
      border: 1px solid var(--color-border-default);
      background-color: var(--color-bg-main);
      font-size: 1rem;
    }
  }

  & .config-container {
    background-color: var(--color-bg-main);
    border: 1px solid var(--color-border-default);
    border-radius: 0.5rem;

    & .config-header {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;
      border-bottom: 1px solid var(--color-border-default);
    }

    & .config-body {
      padding: 1rem;
      color: var(--color-text-muted);
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & .config-color-container {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;

        & .config-color {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 0.5rem;

          & .color-input-container {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: var(--color-bg-hover);

            & input {
              width: 2rem;
              border: none;
            }

            & span {
              color: var(--color-text-primary);
            }
          }
        }
      }

      & .config-detail-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & .config-detail {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;

          & input {
            width: 100%;
          }
        }
      }
      & .config-logo-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        input::file-selector-button {
          background-color: var(--color-primary);
          color: white;
          padding: 0.75rem 1.5rem;
          border: none;
          border-radius: 0.5rem;
          cursor: pointer;
          font-weight: bold;
          font-size: 1rem;
          transition: background-color 0.3s;
        }
      }
    }
  }
}

