.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-primary);
}

.btn-download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  span {
    font-size: 1rem;
  }

  img {
    width: 1.25rem;
  }
}

