.header {
  background-color: var(--color-bg-surface);
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--color-border-default);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    h1 {
      font-size: 1.5rem;
    }
  }
}

