.preview-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;

  & .preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .preview-header-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    & .preview-header-size {
      font-size: 0.875rem;
      background-color: var(--color-bg-hover);
      padding: 0.25rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid var(--color-border-strong);
      color: var(--color-text-secondary);
    }
  }

  & .preview-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .preview-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-info-bg);
    border: 1px solid var(--color-info-border);

    & p {
      color: var(--color-text-secondary);
    }
  }
}

