.preview-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;

  & .preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .preview-header-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  & .preview-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .preview-info {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-info-border);
  }
}

