* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
  max-width: 80rem;
  width: 100%;
  margin-inline: auto;
}