* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
  margin-inline: auto;
  min-width: 10dvw;
  min-height: 100dvh;
  overflow-x: hidden;
}

.main {
  display: flex;
  gap: 1rem;
  height: 100%;
}

.container {
  max-width: 80rem;
  width: 100%;
  margin-inline: auto;
}

.image-container {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-hover);
  border-radius: 0.25rem;

  img {
    width: 1.5rem;
  }
}

.divider {
  border: none;
  border-top: 1px solid var(--color-border-default);
}

